<!DOCTYPE html>
<html lang="en">

<style>
    .vl {
        border-left: 3px solid #2fa4e7;
        height: 40px;
    }
</style>
<style>
    .vl2 {
        margin-top: 0px;
        border-left: 3px solid #2fa4e7;
        height: 50px;
    }
</style>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SkyScanner</title>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>
<body class="">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><font color="darkcyan" size="5">SkyScanner</font></a>
                <div class="vl2"></div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><font color="darkcyan" size="4">Home</font></a>
                        </li>
                        <div class="vl"></div>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><font color="darkcyan" size="4">Privacy</font></a>
                        </li>
                        <div class="vl"></div>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="UserList"><font color="darkcyan" size="4">User List</font></a>
                        </li>
                        <div class="vl"></div>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Flight" asp-action="FlightList"><font color="darkcyan" size="4">Flight List</font></a>
                        </li>
                        <div class="vl"></div>
                            <a class="btn btn-primary ms-lg-auto" style="float: right;" asp-area="" asp-controller="Home" asp-action="LogOut"><font color="darkcyan" size="4">Logout</font></a>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div style="height:0%">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
