@model Flight

<script type="text/javascript">
    function EnableDisableTextBox(TwoCheck) {
        var DepartureDateInput = document.getElementById("DepartureDateInput");
        DepartureDateInput.disabled = TwoCheck.checked ? false : true;
        if (!DepartureDateInput.disabled) {
            DepartureDateInput.focus();
        }
    }
</script>

<div class="parent">
    <form method="post">
    <div class="child">
  <div class="row">
   <div class="col">
   <div class="container"> 
        <br />
        <div class="container">
           <font size="4" color="white">
              <label asp-for="FlightId" class="form-label"> </label>
           </font>
           <input asp-for="FlightId" style="width:100%" class="form-control" placeholder="Flight ID"/>
           <span asp-validation-for="FlightId" class="text-bg-danger"></span>
        </div>
  
        <div class="container">
           <font size="4" color="white">
           <label asp-for="Origin" class="form-label"></label>
           </font>
           <input asp-for="Origin" style="width:100%" class="form-control" placeholder="Origin"/>
           <span asp-validation-for="Origin" class="text-bg-danger"></span>

        </div>
        <div class="container">
            <font size="4" color="white">
              <label asp-for="Destination" class="form-label"></label>
            </font>
            <input asp-for="Destination" style="width:100%" class="form-control" placeholder="Destination"/>
            <span asp-validation-for="Destination" class="text-bg-danger"></span>
        </div>

        <div class="container">
           <font size="4" color="white">
             <label asp-for="Price" class="form-label"></label>
           </font>
           <input asp-for="Price" style="width:100%" class="form-control" placeholder="Price"/>
            <span asp-validation-for="Price" class="text-bg-danger"></span>
        </div>
        <div class="container mt-3">
            <input class="form-check-input" type="checkbox" value="" id="TwoCheck" onclick="EnableDisableTextBox(this)">
            <label class="form-check-label" for="flexCheckDefault">
             <font size="4" color="white">Two Way Flight</font>
            </label>
        </div>
        <input type="hidden" asp-for="Seats" styly="tra"/>
        <span asp-validation-for="Seats" class="text-bg-danger"></span>
    </div>
    </div>
    <div class="col m-4">
        <div class="container"> 
            <div class="container">
             <font size="4" color="white">
                 <label asp-for="Airline" class="form-label "></label>
              </font>
              <input asp-for="Airline" style="width:100%" class="form-control" placeholder="Airline"/>
              <span asp-validation-for="Airline" class="text-bg"></span>
            </div>

             <div class="container">
               <font size="4" color="white">
                 <label asp-for="DepartureDate" class="form-label"></label>
               </font>
               <input asp-for="DepartureDate" style="width:100%" class="form-control" placeholder="Number Of Seats"/>
               <span asp-validation-for="DepartureDate" class="text-bg-danger"></span>
             </div>

             <div class="container">
               <font size="4" color="white">
                 <label for="DepartureDateInput" asp-for="ReturnDate" class="form-label"></label>
               </font>
               <input id="DepartureDateInput" asp-for="ReturnDate" style="width:100%" class="form-control" placeholder="Number Of Seats" disabled="disabled"/>
               <span asp-validation-for="ReturnDate" class="text-bg-danger"></span>
             </div>

             <div class="container">
               <font size="4" color="white">
                 <label asp-for="NumberOfSeats" class="form-label"></label>
               </font>
               <input asp-for="NumberOfSeats" style="width:100%" class="form-control" placeholder="Number Of Seats"/>
               <span asp-validation-for="NumberOfSeats" class="text-bg-danger"></span>
              </div>
        </div>
     </div>
     <div class="row center">
     <div class="container m-2" style="align-content:center">
         <a asp-controller="Flight" asp-action="FlightList" class="btn btn-secondary btn-large" style="width:160px; color:rgba(5, 30, 75, 1)">
           <font size="4">Cancel</font>
         </a>
         <button type="submit" style="color:darkcyan; width:160px" class="btn btn-primary btn-large" >
           <font size="4">Add</font>
         </button>
     </div>
     </div>
   </div>
   </div>
   </form>
</div>
