@model CreditCard

<div class="parent">
    <form method="post">
        <div class="child">
            <div class="row" style="width:60%;">
                <div class="col">
                    <div class="container">
                        <br />

                        <div class="container">
                            <font size="4" color="white">
                                <label asp-for="CardNumber" class="form-label"> </label>
                            </font>
                            <input asp-for="CardNumber" style="width:100%" class="form-control" placeholder="Flight ID" />
                            <span asp-validation-for="CardNumber" class="text-bg-danger"></span>
                        </div>

                        <div class="row ms-xl-6" style="width:430px;">
                            <div class="col m-0" style="width:200px;">
                                <div class="container m-0" style="width:200px;">
                            <font size="4" color="white">
                                <label asp-for="ExpMonth" class="form-label"></label>
                            </font>
                            <input asp-for="ExpMonth" style="width:100%" class="form-control" placeholder="Origin" />
                            <span asp-validation-for="ExpMonth" class="text-bg-danger"></span>
                                </div>
                                <div class="container m-0" style="width:200px;">
                                    <font size="4" color="white">
                                        <label asp-for="CVV" class="form-label"></label>
                                    </font>
                                    <input asp-for="CVV" class="form-control" placeholder="Price" />
                                    <span asp-validation-for="CVV" class="text-bg-danger"></span>
                                </div>
                            </div>
                            <div class="col m-0" style="width:200px;">
                                <div class="container m-0" style="width:200px;">
                            <font size="4" color="white">
                                <label asp-for="ExpYear" class="form-label ms-lg-auto"></label>
                            </font>
                            <input asp-for="ExpYear" style="width:100%" class="form-control" placeholder="Destination" />
                            <span asp-validation-for="ExpYear" class="text-bg-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="container mt-3">
                            <input class="form-check-input" type="checkbox" value="" id="TwoCheck" onclick="EnableDisableTextBox(this)">
                            <label class="form-check-label" for="flexCheckDefault">
                                <font size="4" color="white">Two Way Flight</font>
                            </label>
                        </div>
                        
                    </div>
                </div>
                <div class="row center">
                    <div class="container m-2" style="align-content:center">
                        <a asp-controller="Flight" asp-action="FlightList" class="btn btn-secondary btn-large" style="width:160px; color:rgba(5, 30, 75, 1)">
                            <font size="4">Cancel</font>
                        </a>
                        <button type="submit" style="color:rgba(5, 30, 75, 1); width:160px;background-color:cyan" class="btn btn-large">
                            <font size="4">Add</font>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>