@model Flight


<head>
    <link rel="stylesheet" href="~/css/SeatBooking.css" asp-append-version="true" />
</head>
<div class="planediv">
    <div class="form-group">
        <fieldset disabled=""> 
           <input type="hidden" asp-for="FlightId" style="width:25%" class="form-control" placeholder="Flight ID" id="FlightId"/>
           <span asp-validation-for="FlightId" class="text-bg-danger"></span>
        </fieldset>
       <fieldset disabled="">

           <input type="hidden" asp-for="Price" style="width:25%" class="form-control" placeholder="Flight ID" id="Price"/>
           <span asp-validation-for="Price" class="text-bg-danger"></span>
       </fieldset>
       <fieldset disabled="">

           <input type="hidden" asp-for="NumberOfSeats" style="width:25%" class="form-control" placeholder="Flight ID" id="NumberOfSeats"/>
           <span asp-validation-for="NumberOfSeats" class="text-bg-danger"></span>
       </fieldset>

       <fieldset disabled="" >

           <input type="hidden" asp-for="BookedSeats" style="width:25%" class="form-control" placeholder="Flight ID" id="BookedSeats"/>
           <span asp-validation-for="BookedSeats" class="text-bg-danger"></span>

       </fieldset>
    </div>
    <ul class="showcase">
      <li>
        <div class="seat"></div>
        <small>N/A</small>
      </li>

      <li>
        <div class="seat selected"></div>
        <small>Selected</small>
      </li>

      <li>
        <div class="seat occupied"></div>
        <small>Occupied</small>
      </li>
    </ul>
    
<script>
    const NumberOfSeats = document.getElementById('NumberOfSeats');
    let SeatNum = NumberOfSeats.value;
    const Parent = document.createElement('div');
    Parent.className = 'parent mt-5';
    document.body.appendChild(Parent);
    const Child = document.createElement('div');
    const flightNumber = document.getElementById('FlightId');
    let flightNum = flightNumber.value;
    const container2 = document.createElement('div');
    container2.className = 'Kid';
    container2.id = 'container';
    container2.style = 'height:auto; width:210;';
    Parent.appendChild(container2);
    localStorage.clear();
    for(let j = 0; j < SeatNum/4; j++){
        const row = document.createElement('div');
        row.className = 'row m-3 align-content-center';
        row.style='height:32px; width:210px;';
        container.appendChild(row);
        for(let i = 0; i < 4; i++){
            const seat = document.createElement('div');
            seat.className = 'seat';
            if(i == 0)
            seat.value = 'A'+(j+1).toString()+'-'+flightNum;
            if(i == 1)
            seat.value = 'B'+(j+1).toString()+'-'+flightNum;
            if(i == 2)
            seat.value = 'C'+(j+1).toString()+'-'+flightNum;
            if(i == 3)
            seat.value = 'D'+(j+1).toString()+'-'+flightNum;
            row.appendChild(seat);
    }}
</script>
    
    <script src="~/lib/jquery/dist/SeatScript.js" asp-append-version="true"></script>
   
    <button id="Book" class="btn btn-primary btn-large" style="width:160px;">
      <font size="4">Book</font>
    </button>
    <a asp-controller="Flight" asp-action="CancelBooking" class="btn btn-secondary btn-sm" style="width:160px;">
        <font size="4" color="white">Cancel</font>
    </a>
</div>
