@model SkyScanner.Models.User;
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<br />
<div class="container p-10">
<form method="post">
    <div class="form-group">
       <b>
            <font size="5">
                <label asp-for="Email" class="form-label"> </label>
           </font>
       </b>
       <input asp-for="Email" style="width:25%" class="form-control" placeholder="example@mail.com"/>
       <span asp-validation-for="Email" class="text-bg-danger"></span>
    </div>

    <div class="form-group">
       <font size="5">
           <b>
                <label asp-for="Password" class="form-label mt-4"></label>
           </b>
       </font>
       <input asp-for="Password" style="width:25%" class="form-control" placeholder="password"/>
       <span asp-validation-for="Password" class="text-bg-danger"></span>
    </div>

    <div class="form-group">
      <font size="5">
           <b>
                <label asp-for="FirstName" class="form-label mt-4"></label>
           </b>
       </font>
      <input asp-for="FirstName" style="width:25%" class="form-control" placeholder="John"/>
      <span asp-validation-for="FirstName" class="text-bg-danger"></span>
    </div>

    <div class="form-group">
      <font size="5">
           <b>
                <label asp-for="LastName" class="form-label mt-4"></label>
           </b>
       </font>
      <input asp-for="LastName" style="width:25%" class="form-control" placeholder="Doe"/>
      <span asp-validation-for="LastName" class="text-bg-danger"></span>
    </div>

    <div class="form-group">
      <font size="5">
           <b>
                <label asp-for="UserId" class="form-label mt-4"></label>
           </b>
       </font>
      <input asp-for="UserId" style="width:25%" class="form-control" placeholder="Airline"/>
      <span asp-validation-for="UserId" class="text-bg"></span>
    </div>

    <br />
    <button type="submit" class="btn btn-primary btn-sm" style="width:150px">
        <font size="4">
            Register
        </font>
    </button>
    <a asp-controller="User" asp-action="Login" class="btn btn-danger btn-sm" style="width:150px">
        <font size="4">
            Cancel
        </font>
    </a>
</form>
</div>