<div class="container p-3">
    <div class="card text-white bg-primary mb-3" style="max-width: auto;">
        <div class="card-header">Booking Information @ViewData["Seats"]</div>
        <div class="card-body">
         @ViewData["Seats"]
        </div>
    </div>
</div>