@model Booking
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="container p-3">
    <div class="card text-white bg-primary mb-3" style="max-width: auto;">
        <div class="card-header">Booking Details</div>
        <div class="card-body">
            <ul class="list-group p-3">
                <form method="post">
                <li class="list-group-item">
                    <p><b>Your Seats Are: </b> @Context.Session.GetString("Seats")</p>
                    </li>
                    <li class="list-group-item">
                    <p><b>Flight Number: </b> @Context.Session.GetString("FlightID")</p>
                    </li>
                    <li class="list-group-item">
                    <p><b>Total Price: </b> @Context.Session.GetString("Price")</p>
                    </li>
                    <li class="list-group-item">
                    <p><b>Payment Method: </b>Card ending with @Context.Session.GetString("CardNum")</p>
                    </li>
                    <li class="list-group-item">
                    <font size="4" color="white">
                        <label asp-for="TwoWay" class="form-label"> </label>
                    </font>
                    <input asp-for="TwoWay" style="width:305px;" class="btn-check" placeholder="ie.123456789" />
                    <span asp-validation-for="TwoWay" class="text-bg-danger"></span>
                    </li>
                    <li class="list-group-item">
                        <div class="container"> 
                            <button type="submit" style="width:160px;" class="btn btn-primary btn-sm">
                                <font size="4">Book & Pay</font>
                            </button>

                        <a asp-controller="Flight" asp-action="CancelBooking" class="btn btn-secondary btn-sm" style="width:160px;background:red;">
                            <font size="4" color="white">Cancel Booking</font>
                        </a>

                        <a asp-controller="User" asp-action="Payment" class="btn btn-secondary btn-sm" style="width:160px;">
                            <font size="4" color="white">Go Back</font>
                        </a>
                        </div>
                    </li>
                </form>
            </ul>
        </div>
    </div>
</div>